{{! Maintainers - Daryl Hedley}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner clearfix" role="navigation" aria-label="{{_globals._accessibility._ariaLabels.navigation}}">
  <!-- <a class="base navigation-back-button icon icon-controls-small-left" href="#" data-event="backButton" title="Home"></a>-->
      <a class="base icon icon-controls-small-left" title="Home" href='#/'>Menu</a>
    <button class="base navigation-drawer-toggle-button icon icon-list" data-event="toggleDrawer" title="Glossary and Resources">Resources</button>
   <!-- <a class="base icon glossary-btn " title="Glossary" href='course/en/doc/PFA_Glossary_Items_ROC.pdf' target="_blank"></a>-->
    <!-- <a class="base text-worker" data-event="" aria-label="">Psychological First Aid for Children</a>-->
  <!--  <a href='course/en/doc/certificate_eng.htm' target="_blank" class="icon certificate_img icon-list certificate-button" role="button" aria-label="show certificate"></a>
-->
</div>