<div class="floatingmenu">
	<div class="floatingmenu-inner">
		 <button role="button" class="button floatingMenuButton menu1" title="Course Introduction and Objectives"></button>
		 <button role="button" class="button floatingMenuButton menu2" title="General Information"></button>
		 <button role="button" class="button floatingMenuButton menu3" title="System Overview"></button>
		 <button role="button" class="button floatingMenuButton menu4" title="Intrauterine Ultrasound Imaging"></button>
		 <button role="button" class="button floatingMenuButton menu5" title="Ablation Targeting"></button>
		 <button role="button" class="button floatingMenuButton menu6" title="Treatment Device Controls"></button>
		 <button role="button" class="button floatingMenuButton menu7" title="Room, System, and Patient Set Up"></button>
		 <button role="button" class="button floatingMenuButton menu8" title="Ablation Procedure"></button>
		 <button role="button" class="button floatingMenuButton menu9" title="Post-Treatment Processes"></button>
		 <button role="button" class="button floatingMenuButton menu10" title="Course Summary"></button>
		<div class="floatingmenu-icon">
			
		</div>
	</div>
</div>